:root{
  --secondary: #fa8100;
}

.product{
  padding: 21px;
  border: 1px solid black;
  border-radius: 5px;
  margin: 5px;
}

.subscription{
  padding: 21px;
  border: 1px solid var(--secondary);
  border-radius: 5px;
  margin: 5px;
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 8px;
}

.subscription::before{
  content: "";
  height: 20px;
  border-radius: 20px;
  width: 10px;
  background-color: var(--secondary);
  position: absolute;
  left: -5px;
  top: calc(50% - 10px);
}

.subscription::after{
  content: "";
  height: 20px;
  border-radius: 20px;
  width: 10px;
  background-color: var(--secondary);
  position: absolute;
  right: -5px;
  top: calc(50% - 10px);
}

.subscription header span{
  background-color: var(--secondary);
  padding: 4px 12px;
}

.thumbnail{
  height: 150px;
  background-color: var(--secondary);
  border-radius: 21px;
}


.product span{
  color: #444444;
  font-weight: 500;
}

.subscription button, .product button{
  height: 32px;
  border-radius: 21px;
  background-color: var(--secondary);
  font-weight: 700;
  padding: 0 21px;

  transition: filter 0.2s;
}

.subscription button:hover, .product button:hover{
  filter: brightness(0.8);
}

.subscription button:active, .product button:active{
  filter: brightness(0.6);
  cursor: auto;
}

.subscription footer{
  display: flex;
  align-items: center ;
  justify-content: space-between;
}